.title {
  font-size: 36px;
  margin-bottom: 3rem;
}

.blog__goBack {
  font-size: 18px;
  color: var(--title-color);
  /* margin-left: 8rem; */
  margin: 2rem;
  /* background-color: #576b9e; */
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 10px;
  transition: 0.3s;
}

.blog__goBack:hover {
  border-radius: 2rem;
  background-color: #dba698;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.blog-subCategory {
    display: flex;
    justify-content: center; 
}

.blog-subCategory > div {
    margin: 1rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  justify-content: center;
  max-width: 1500px;
  margin-bottom: 30px;
}

/* category */
.thai__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}

.thai__item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.thai__item:focus {
  background-color: var(--title-color);
  color: var(--container-color);
}

.thai__item {
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
}

/* search */
.search-icon {
  font-size: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.searchBar-wrap {
  background-color: #f0f0f0;
  margin: 6rem auto 4rem auto;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
}

.searchBar-wrap input {
  background-color: #f0f0f0;
  outline: none;
  border: none;
  width: 100%;
}

.searchBar-wrap input:hover,
.searchBar-wrap input:focus {
  border: none;
  outline: none;
}

.searchBar-wrap span {
  padding-right: 0.5rem;
  cursor: pointer;
}

.searchBar-wrap button {
  outline: none;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #576b9e;
  color: var(--container-color);
  /* margin-left: -4rem; */
}

/* not found search */
.emptyList-wrap {
  display: flex;
  justify-content: center;
}
.emptyList-wrap img {
  max-width: 250px;
  width: 100%;
}

.blog-img {
  width: 70%;
  border-radius: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5rem;
  border-width: 8px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {  
    .wrapper {
        display: contents;
    }
    
    .blog__goBack {
        margin-left: 2rem;
    }
    .blog-img {
      width: 80%;
      margin-bottom: 0;
    }
}

/* For medium devices */
@media screen and (max-width: 821px) {
  .thai__filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .thai__item {
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 650px) {
  .thai__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For small devices */
@media screen and (max-width: 547px) {
  .thai__filter {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-img {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .thai__filter {
    grid-template-columns: repeat(1, 1fr);
  }
}

